.cart-table td, .cart-table th {
    padding: 15px;
    border-bottom: 1px solid #c2d3de;
}

table {
    border-collapse: collapse
}

.cart-background {
    width: 100%;
    background-color: #c2d3de;
    padding: 30px;
}
.cart-table {
    width: 100%;
    max-width: 700px;
    margin: auto;
    background: white;
    border-radius: 10px;
}
.cart-table th:nth-child(2) {
    width: 200px;
}
.cart-table th:nth-child(3) {
    width: 200px;
}
.btn {
    padding: 10px;
    font-size: 15px;
    border: none;
    border-radius: 10px;
    background-color: gray;
    color: white;
    cursor: pointer;
    margin: 20px auto;
    display: block;
}
.btn:hover {
    background-color: chocolate;
}